{{define "page"}}
    <div class="px-6">
        <h1 class="py-4 text-4xl semibold tracking-tight">Contact info</h1>
        <p class="text-gray-800">contact me at <a class="underline" href="mailto:moh@mail.com">mo@mail.com</a></p>
    </div>
{{end}}