<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="min-h-screen bg-gray-100">
<header class="bg-gradient-to-r from-blue-800 to-indigo-800 text-white">
    <nav class="px-8 py-6 flex items-center space-x-12">
        <div class="text-4xl font-serif">SnapSight</div>
        <div class="flex-grow">
            <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/">
                Home
            </a>
            <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/contact">
                Contact
            </a>
            <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/faq">
                FAQ
            </a>
        </div>
        <div class="space-x-4">
            <a href="#">Sign in</a>
            <a href="/signup" class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded">
                Sign up
            </a>
        </div>
    </nav>
</header>

{{template "page" .}}



<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          © 2023 <a href="#" class="hover:underline">SnapSight™</a>. All Rights Reserved.
      </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://mohamedbamoh.com/" class="mr-4 hover:underline md:mr-6 ">Mo Bamoh</a>
            </li>
        </ul>
    </div>
</footer>

</body>
</html>